
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #row1 {
        background-color: white;
        text-align: center;
    }

        #row1 h3 {
            padding-top: 25px
        }

        #row1 h4 {
            padding: 10px 0px 15px;
            width: 75%;
            margin: 0 auto; /* center element horizontally */
            font-size: 130%;
            font-weight: 300
        }

      #row2{
          background-color: white;
          text-align:center;

      }
        #row2 h6 {
            font-size: 100%;
            font-weight: 100;
            padding: 10px 0px 15px;
        }
    #members {
        display: flex;
        flex-direction: row;
        padding: 10px 10px 15px;
    }
    .row2head{
        margin: 0 auto;
        padding-top: 25px
    }
    #nextmemberrow {
        display: flex;
        flex-direction: row;
        padding: 10px 10px 15px;
        justify-content:center
    }
    img {
        width: 60%;
        height: auto;
        border-radius: 50%
    }
</style>

<!--1st row (Description)-->
<div class="row" id="row1">
    <div class="col-sm-12">
        <h3>Our Mission</h3>
        <h4>Sleep plays a vital role in good health and well-being throughout your life. Getting enough quality sleep at the right times can help protect your mental health, physical health, quality of life, and safety. ...    Here are some interesting facts about sleep you might not have been aware of....</h4>
    </div>
    <div class="col-sm-12">
        <h3>Our Goals</h3>
        <h4>Sleep plays a vital role in good health and well-being throughout your life. Getting enough quality sleep at the right times can help protect your mental health, physical health, quality of life, and safety. ...    Here are some interesting facts about sleep you might not have been aware of....</h4>
    </div>
    <div class="col-sm-12">
        <h3>What We Aim To Accomplish</h3>
        <h4>Sleep plays a vital role in good health and well-being throughout your life. Getting enough quality sleep at the right times can help protect your mental health, physical health, quality of life, and safety. ...    Here are some interesting facts about sleep you might not have been aware of....</h4>
    </div>
</div>
<div class="row" id="row2">
    <h3 class="row2head">Our Members</h3>
    <div class="col-sm-12" id="members">
        <div class="col-sm-4">
            <img src="~/images/Derek.jpg" alt="Derek">
            <h4>Derek Qua</h4>
            <h5>Front-End Developer</h5>
            <h6>Sleep plays a vital role in good health and well-being throughout your life. Getting enough quality sleep at the right times can help protect your mental health, physical health, quality of life, and safety. ...    Here are some interesting facts about sleep you might not have been aware of....</h6>
        </div>
        <div class="col-sm-4">
            <img src="~/images/Derek.jpg" alt="Derek">
            <h4>Derek Qua</h4>
            <h5>Front-End Developer</h5>
            <h6>Sleep plays a vital role in good health and well-being throughout your life. Getting enough quality sleep at the right times can help protect your mental health, physical health, quality of life, and safety. ...    Here are some interesting facts about sleep you might not have been aware of....</h6>
        </div>
        <div class="col-sm-4">
            <img src="~/images/Derek.jpg" alt="Derek">
            <h4>Derek Qua</h4>
            <h5>Front-End Developer</h5>
            <h6>Sleep plays a vital role in good health and well-being throughout your life. Getting enough quality sleep at the right times can help protect your mental health, physical health, quality of life, and safety. ...    Here are some interesting facts about sleep you might not have been aware of....</h6>
        </div>
    </div>
    <div class="col-sm-12" id="nextmemberrow">
        <div class="col-sm-4">
            <img src="~/images/Derek.jpg" alt="Derek">
            <h4>Derek Qua</h4>
            <h5>Front-End Developer</h5>
            <h6>Sleep plays a vital role in good health and well-being throughout your life. Getting enough quality sleep at the right times can help protect your mental health, physical health, quality of life, and safety. ...    Here are some interesting facts about sleep you might not have been aware of....</h6>
        </div>
        <div class="col-sm-4">
            <img src="~/images/Derek.jpg" alt="Derek">
            <h4>Derek Qua</h4>
            <h5>Front-End Developer</h5>
            <h6>Sleep plays a vital role in good health and well-being throughout your life. Getting enough quality sleep at the right times can help protect your mental health, physical health, quality of life, and safety. ...    Here are some interesting facts about sleep you might not have been aware of....</h6>
        </div>
    </div>
</div>