
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #row1 {
        background-color: white;
        text-align: center;
    }

        #row1 h3 {
            padding-top: 25px
        }

        #row1 h4 {
            padding: 10px 0px 15px;
            width: 75%;
            margin: 0 auto; /* center element horizontally */
            font-size: 130%;
            font-weight: 300
        }

      #row2{
          background-color: white;
          text-align:center;

      }
        #row2 h6 {
            font-size: 100%;
            font-weight: 100;
            padding: 10px 0px 15px;
        }
    #members {
        display: flex;
        flex-direction: row;
        padding: 10px 10px 15px;
    }
    .row2head{
        margin: 0 auto;
        padding-top: 25px
    }
    #nextmemberrow {
        display: flex;
        flex-direction: row;
        padding: 10px 10px 15px;
        justify-content:center
    }
    img {
        width: 60%;
        height: auto;
        border-radius: 50%
    }
    img.jo{
        width:63%;
        height:52%;
        border-radius:50%;
    }
    
    @@media screen and (max-width:575px) {
        [class*="col-"] {
            width: 100%;
        }
        #row1 h4 {
            text-align:justify
        }
        #members {
            flex-direction: column;
        }
        img{
            width: 45%
        }
        #row2 h6 {
            font-size: 1.33rem;
            text-align:justify;
            padding:15px
        }
        #nextmemberrow{
            flex-direction:column
        }

    }
</style>

<!--1st row (Description)-->
<div class="row" id="row1">
    <div>
        <h3>Our Mission</h3>
        <h4>To provide a platform for users to easily track the number of people at food places in Ngee Ann and for Staff to easily track the number of people so as to limit the number of people in the vicinity.</h4>
    </div>
    <div>
        <h3>Our Goals</h3>
        <h4>To make sure that this platform is easy to use, efficient, provides the latest news and is easily viewable and readable for all audiences be it staff or users of the website.</h4>
    </div>
    <div>
        <h3>What We Aim To Accomplish</h3>
        <h4>We aim to be able to fully develop the counter system to count the number of people in a facility so that if this is successful we can bring this to other places in Singapore with Ngee Ann as the testing ground.</h4>
    </div>
</div>
<div class="row" id="row2">
    <h3 class="row2head">Our Members</h3>
    <div id="members">
        <div class="col-sm-4">
            <img src="~/images/jeremiah.jpg" alt="Jeremiah">
            <h4>Jeremiah Long</h4>
            <h5>Developer</h5>
            <h6>Jeremiah is a Hardworking, confident, determined, perseverant, organized, straightforward and empathetic individual, who is always looking for ways to improve my skills and to continue growing in the area of IT. He is also very interested in web applications, software development and marketing IT solutions. He also enjoys planning events and helping the community.</h6>
        </div>
        <div class="col-sm-4">
            <img src="~/images/Derek.jpg" alt="Derek">
            <h4>Derek Qua</h4>
            <h5>Front-End Developer</h5>
            <h6>As an aspiring Full Stack Web Developer, I believe problem-solving and critical thinking skills are essential. With the experience in leading and managing secondary-level events, the skills that I have attained will allow me to take a closer step to my goals.</h6>
        </div>
        <div class="col-sm-4">
            <img src="~/images/jolene.jpg" alt="Jolene">
            <h4>Jolene Cheong</h4>
            <h5>Developer</h5>
            <h6>Highly motivated, organised and curious individual who loves experimenting and creating new stuff. Always looking for an opportunity to expand my skillset. </h6>
        </div>
    </div>
    <div id="nextmemberrow">
        <div class="col-sm-4">
            <img src="~/images/Jeffrey.jpg" alt="Jeffrey">
            <h4>Jeffrey Ng</h4>
            <h5>Back-End Developer</h5>
            <h6>
                I have a competitive and perfectionistic attitude as well as knowing what tasks has to be completed and always reduce risks when doing work. 
            </h6>
        </div>
        <div class="col-sm-4">
            <img src="~/images/Aaron.jpg" alt="Aaron">
            <h4>Aaron Choo</h4>
            <h5>Back-end Developer</h5>
            <h6>Possesses strong critical thinking and problem-solving skills. Strong in back-end development, I am always looking for new ways to challenge myself.</h6>
        </div>
    </div>
</div>