
@{
    ViewData["Title"] = "Counter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #counter{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #counter td, #counter th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #counter tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #counter tr:hover {
            background-color: #ddd;
        }

        #counter th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>
<div class="container" id="counter">
    <h1>Counter</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Head Count</th>
            </tr>
        </thead>
        @foreach (var data in ViewBag.Data)
        {
            <tbody>
                <tr>
                    <td>Location: @data.Location</td>
                    <td>Crowd: @data.CrowdNow</td>
                </tr>
            </tbody>
        }
    </table>
</div>

