@{
    ViewData["Title"] = "Home Page";
}

    <!--0 row-->
    <div class="parallax" style="background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.5)), url('../images/h1.jpg'); /* Full height */ height: 100%; /* Create the parallax scrolling effect */ background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;padding: 200px 0px 50px 0px">
        <h1 style="padding-left:50px;font-size:450%;font-weight:700;color:darkorange">We Care</h1>
        <h1 style="padding-left:50px;font-size:450%;font-weight:700">About Your Health</h1>
        <br />
        <h2 style="font-size:large;padding:0px 0px 0px 50px;font-size:150%;font-weight:300">Everyday We Bring Hope and Smile to the Patient We Serve</h2>
    </div>

    <!--1st row (Description)-->
    <div class="row" style="background-color: lightpink;text-align: center;margin:auto">
        <div class="col-sm-12">
            <h3 style="padding-top:40px">How much do you know about sleep?</h3>
            <h4 style="padding:40px 0px 40px">Sleep plays a vital role in good health and well-being throughout your life. Getting enough quality sleep at the right times can help protect your mental health, physical health, quality of life, and safety. ...    Here are some interesting facts about sleep you might not have been aware of....</h4>
        </div>
    </div>

    <!--2nd row-->
    <div class="row" style="background-color: mediumpurple;margin: auto">
        <div class="col-sm-12">
            <div style="float: right;width: 40%;padding:80px 50px 40px 0px">
                <img src="images/testing.png" alt="testing" style="width: 70%; height: auto;">
            </div>

            <div style="padding:80px 0 40px 100px;float:left;width:60%">
                <h1 style="color: #f5822b;margin-bottom:30px">What Is Lucid Dreaming?</h1>
                <h5 style="width:80%;margin-bottom:40px">Having an occasional strange dream isn’t unusual—but sometimes they can border on a nightmare, resulting in stress and lost sleep....</h5>
                <div><a target="_blank" href="https://www.sleepfoundation.org/articles/what-lucid-dreaming">Find Out More</a></div>
            </div>
        </div>
    </div>

    <!--3rd row-->
    <div class="row" style="background-color: turquoise;margin: auto">
        <div class="col-sm-12">
            <div style="float: left;width: 40%;padding:80px 0px 40px 100px">
                <img src="images/testing.png" alt="testing" style="width: 70%; height: auto;">
            </div>

            <div style="padding:80px 0px 40px 100px;float:right;width:60%">
                <h1 style="color: #f5822b;margin-bottom:30px">What Is Lucid Dreaming?</h1>
                <h5 style="width:80%;margin-bottom:40px">Having an occasional strange dream isn’t unusual—but sometimes they can border on a nightmare, resulting in stress and lost sleep....</h5>
                <div><a target="_blank" href="https://www.sleepfoundation.org/articles/what-lucid-dreaming">Find Out More</a></div>
            </div>
        </div>
    </div>

    <!--4th row-->
    <div class="row" style="background-color: lightblue;margin: auto">
        <div class="col-sm-12">
            <div style="float: right;width: 40%;padding:80px 50px 40px 0px">
                <img src="images/testing.png" alt="testing" style="width: 70%; height: auto;">
            </div>

            <div style="padding:80px 0 40px 100px;float:left;width:60%">
                <h1 style="color: #f5822b;margin-bottom:30px">What Is Lucid Dreaming?</h1>
                <h5 style="width:80%;margin-bottom:40px">Having an occasional strange dream isn’t unusual—but sometimes they can border on a nightmare, resulting in stress and lost sleep....</h5>
                <div><a target="_blank" href="https://www.sleepfoundation.org/articles/what-lucid-dreaming">Find Out More</a></div>
            </div>
        </div>
    </div>

    <!--3rd row-->
    <div class="row" style="background-color: lightgoldenrodyellow;margin: auto">
        <div class="col-sm-12">
            <div style="float: left;width: 40%;padding:80px 0px 40px 100px">
                <img src="images/testing.png" alt="testing" style="width: 70%; height: auto;">
            </div>

            <div style="padding:80px 0px 40px 100px;float:right;width:60%">
                <h1 style="color: #f5822b;margin-bottom:30px">What Is Lucid Dreaming?</h1>
                <h5 style="width:80%;margin-bottom:40px">Having an occasional strange dream isn’t unusual—but sometimes they can border on a nightmare, resulting in stress and lost sleep....</h5>
                <div><a target="_blank" href="https://www.sleepfoundation.org/articles/what-lucid-dreaming">Find Out More</a></div>
            </div>
        </div>
    </div>




