
@{
    ViewBag.Title = "ViewMap";
}
<h2>View Table</h2>



<ul>
    @foreach (var location in ViewBag.Location)
    {
        <li>Location: @location</li>
    }
</ul>


<ul>
    @foreach (var crowd in ViewBag.Crowd)
    {
        <li>Crowd: @crowd</li>
    }
</ul>

<ul>
    @foreach (var Object in ViewBag.Object)
    {
        <li>Location: @Object.Location</li>
        <li>Crowd: @Object.CrowdNow</li>
    }
</ul>